@import "tailwindcss";

@theme {
  /* Typography */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-vyr-dark: #08080A;
  --color-vyr-darker: #050506;
  --color-vyr-surface: #121214;
  --color-vyr-surface-light: #1A1A1E;

  --color-vyr-wine: #5D243C;
  --color-vyr-wine-light: #7A3351;
  --color-vyr-wine-dark: #3F1728;

  --color-vyr-olive: #7C8C56;
  --color-vyr-olive-light: #9AAE6B;

  --color-vyr-text: #EDEDED;
  --color-vyr-text-muted: #A1A1AA;

  /* Animations */
  --animate-gradient-x: gradient-x 6s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}

:root {
  --background: var(--color-vyr-dark);
  --foreground: var(--color-vyr-text);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-vyr-gradient {
    background: radial-gradient(circle at top center, #111111 0%, transparent 70%);
  }
}